.container {
    padding: 20px;
}

.goBackButton {
    margin-bottom: 20px;
}

.movieDetails {
    display: flex;
    gap: 20px;
}

.poster {
    width: 300px;
}

.details {
    max-width: 600px;
}

.additionalInfo {
    margin-top: 20px;
}

.link {
    text-decoration: none;
    color: blue;
}